body{
    font-family: 'Roboto', sans-serif;
}
.main-menu ul{
    background-color: greenyellow;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 400;
}

nav.main-menu ul{

    list-style-type: '🐪';
    padding: 0;
    list-style-position: inside;
}

nav.main-menu-a{
    padding: 5px;
}

nav.main-menu-a:hover{
    color: white;
    background-color: chocolate;
}